* {
	box-sizing: border-box;
}
html, body, ul, h1, h3, p, img, fieldset{
	margin: 0;
	padding: 0;
}
body{
	background: url(background_texture.png);
	background-size: cover;
}
nav{
	position: fixed;
	top: 0;
	background-color: black;
	color: white;
	padding: 10px 40px 10px 10px;
	width: 100%;
	font-size: 20px;
}
.nav, .nav-links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}
.nav-links{
	width: 115px;
}
.nav a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.nav li{
	margin-right: 30px;
}


/*---------------------------------------------------------*/
/*homePage*/

.header-background{
	background: url(https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 150px 0 100px;
}
header{
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
	padding: 20px;
	max-width: 350px;
	margin: auto;
	text-align: center;
}
.title{
	font-size: 50px;
	margin-bottom: 20px;
}
.info{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
	text-align: center;
}
.info img{
	width: 50%;
	margin-bottom: 20px;
}
.info div{
	border: 1px solid black;
	border-radius: 20px;
	padding: 15px;
	max-width: 300px;
	margin: 20px;
}

/*----------------------------------------------------*/
/*login and sign up*/
.account-container{
	padding: 20px;
	margin-left: 0;
	margin-right: 0;
	font-size: 20px;
}

.login-register-form{
	background-color: white;
	margin: 0 auto;
	max-width: 320px;
	padding: 20px;
}

.form-input-account{
	display: block;
	margin-bottom: 10px;
	padding: 6px 15px 6px;
	width: 100%;
	height: 40px;
	border: 1px solid black;
}

.login-register-form > h3 {
	text-align: center;
	margin-bottom: 13px;
}

.login-register-form > label{
	display: block;
	line-height: 15px;
	padding: 15px 0 15px;
}

.login-register-form > button{
	margin-top: 12px;
	padding: 10px 40px 10px;
	font-size: 15px;
}

/*---------------------------------------------*/
/*list page*/

.list, .create-recipe{
	padding-top: 100px;
	max-width: 80%;
	margin: auto;

}
.list h1, .create-recipe h1{
	margin-bottom: 20px;
	font-size: 30px;
}
.recipe-info{
	display: none;
	padding: 10px;
	margin-bottom: 10px;
	overflow: hidden;
}
.recipe-info ul{
	margin: 8px 0 8px;
	padding-left: 40px;
}
.btn{
	width: 100%;
	background-color: grey;
	border: none;
	border-radius: 20px;
	text-align: left;
	font-size: 16px;
	padding: 15px;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*----------------------------------------------*/
/*Create Recipe*/

.recipe-form fieldset {
	border: none;
	margin-bottom: 20px;
}
textarea, input{
	display: block;
	resize: none;
	border: 1px solid black;
	border-radius: 5px;
	width: 90%;
}
.recipe-form fieldset input,
.recipe-form fieldset textarea{
	margin-top: 10px;
	padding: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.recipe-form fieldset label{
	font-size: 16px;
}
.save-recipe{
	padding: 5px 40px;
	margin-bottom: 20px;
}

@media screen and (min-width: 460px){
	.nav-account{
		justify-content: center;
	}
	/*.info img{
		width: 25%;
	}*/
}
@media screen and (min-width: 700px){
	.nav-account li{
		margin-right: 80px;
	}
}
